.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
  }
  
  .Palette {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
  }